{% extends 'layout.html' %}

{% block nav %}
	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{{url_for('shome')}}">PEC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{url_for('shome')}}">Home</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{url_for('updateprofile')}}">{{name}}</a>
                    <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a> 
                </div>
              
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="content-section">
        <h3>Select Room</h3>
        <br>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{form.batch.label}}
            {{form.batch(class="custom-select", disabled="True")}}
            <div style="margin-top: 10px"></div>
            {{form.hostel.label}}
            {{form.hostel(class="custom-select", disabled="True")}}
            <div style="margin-top: 10px"></div>
            {{form.floor.label}}
            {{form.floor(class="custom-select", disabled="True")}}
            <div style="margin-top: 10px"></div>
            {{form.capacity.label}}
            {{form.capacity(class="custom-select", disabled="True")}}

        </form>
        <table class="table responsive" style="margin-top: 20px">
            {% if rooms %}
                {%for i in range(l)%}
                    <tr>
                        {%for j in range(10)%}
                            {%if rooms[i*10+j] in vacant %}
                                {% if rooms[i*10+j] == roomnum %}
                                    <td style="background-color: lightgreen">
                                        {{rooms[i*10+j]}}
                                    </td>
                                {% else %}
                                    <td>
                                        {{rooms[i*10+j]}}
                                    </td>
                                {% endif %}
                            {% elif rooms[i*10+j] in partial %}
                                {% if rooms[i*10+j] == roomnum %}
                                    <td style="background-color: lightgreen">
                                        {{rooms[i*10+j]}}
                                    </td>
                                {% else %}
                                    <td style="background-color: #ffffb3">
                                        {{rooms[i*10+j]}}
                                    </td>
                                {% endif %}
                            {%else%}
                                {% if rooms[i*10+j] == roomnum %}
                                    <td style="background-color: lightgreen">
                                        {{rooms[i*10+j]}}
                                    </td>
                                {% else %}
                                    <td class="booked" style="background-color:lightgray;">
                                        {{rooms[i*10+j]}}
                                    </td>
                                {% endif %}
                            {%endif%}
                        {%endfor%}
                    </tr>
                {%endfor%}
                
                {% for i in range(r) %}
                    {%if rooms[l*10+i] in vacant %}
                        {% if rooms[l*10+i] == roomnum%}
                            <td style="background-color: lightgreen">
                                {{rooms[l*10+i]}}
                            </td>
                        {% else %}
                            <td>
                                {{rooms[l*10+i]}}
                            </td>
                        {% endif %}
                    {% elif rooms[l*10+i] in partial %}
                        {% if rooms[l*10+i] == roomnum%}
                            <td style="background-color: lightgreen">
                                {{rooms[l*10+i]}}
                            </td>
                        {% else %}
                            <td style="background-color: #ffffb3">
                                {{rooms[l*10+i]}}
                            </td>
                        {% endif %}
                    {%else%}
                        {% if rooms[l*10+i] == roomnum%}
                            <td style="background-color: lightgreen">
                                {{rooms[l*10+i]}}
                            </td>
                        {% else %}
                            <td class="booked" style="background-color:lightgray;">
                                {{rooms[l*10+i]}}
                            </td>
                        {% endif %}
                    {%endif%}
                {% endfor %}
            {%endif%}
        </table>
    </div>
{% endblock content %}

{% block rightcontent %}
    <div class="content-section">
        <LEGEND>Representation</LEGEND>
     <table style="margin-top: 20px;margin-bottom: 50px" class="responsive table">
         
         <tr>
             <td style="background-color: #ffffb3">Partially Full</td>
             <td style="background-color: lightgrey">Full Room</td>
             <td style="background-color: lightgreen">Your Room</td>
         </tr>
     </table>
    </div>
    <legend style="margin-left: 20px">Quick Links</legend>
    <div class="content-section">
            <p class='text-muted'>
              <ul class="list-group">
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('watchannouncement')}}">All Announcements</a>
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('postcomplaint')}}">Complaints</a>
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('allotmentstatus')}}">Allotment Status</a>
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('updateprofile')}}">Update Profile</a>
              </ul>
            </p>
          </div>
{% endblock %}

