{% extends 'layout.html' %}

{% block nav %}
	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    	<div class="container">
      		<a class="navbar-brand mr-4" href="{{url_for('facultyhome')}}">PEC</a>
      		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarToggle">
    			<div class="navbar-nav mr-auto">
      				<a class="nav-item nav-link" href="{{url_for('facultyhome')}}">Home</a>
		        </div>
    			<!-- Navbar Right Side -->
    			<div class="navbar-nav">
     				<a class="nav-item nav-link" href="{{url_for('facultyprofile')}}">{{name}}</a>
       				<a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
    			</div>
  			</div>
    	</div>
  	</nav>
{% endblock %} 


{% block content %}
{% if post %}
    <legend style="margin-left: 20px">Response</legend>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="static/img/profile_pics/{{post[9]}}">      
          <div class="media-body">
            <div class="article-metadata">
                <p>
                    <div class="mr-2">
                        <strong>{{ post[7] }}</strong>
                        <small class="text-muted" style="margin-left: 20px">{{ post[3].strftime('%Y-%m-%d') }}</small>
                        <a class="btn btn-danger btn-sm m-1" href="{{url_for('deleteresponse', qno=post[0])}}" onclick="return confirmation();">Delete</a>
                    </div>
                </p>  
            </div>
            <h5><p class="article-title">{{ post[5] }}</p></h5>
            <p class="article-content" style="white-space: pre-line; word-break: break-all;">{{ post[2] }}</p>
        </div>
        </article>
        <form method="POST">
          {{ form.hidden_tag() }}

              <div class="form-group">
                {{ form.response.label(class="form-control-label") }}
                {% if form.response.errors %}
                    {{ form.response(class="form-control form-control-lg is-invalid", rows="4", cols="99", style="resize:None") }}
                    <div class="invalid-feedback">
                        {% for error in form.response.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.response(class="form-control form-control-lg", rows="4", cols="99", style="resize:None") }}
                {% endif %}
              </div>
            <div class="form-group">
                {{ form.post(class="btn btn-outline-info") }}
            </div>    
        </form>
        <script type="text/javascript">
        function confirmation()
        {
            var a=confirm("Are you sure you want to delete ?")
            return a;
        }
        </script>

{% endif %}   
{% endblock %}