{% extends 'layout.html' %}

{% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{{url_for('facultyhome')}}">PEC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{url_for('facultyhome')}}">Home</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{url_for('facultyprofile')}}">{{name}}</a>
                    <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}            

{% block content %}
    <div class="content-section">
        <h3>Upload Student List</h3>
        <br>
        <form method='POST' enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{form.hostel.label}}
            {{form.hostel(class="custom-select mb-4", disabled=True)}}

            <div class="form-group mb-4">
                {{ form.file.label() }}
                {{ form.file(class='form-control-file')}}
                {% if form.file.errors %}
                    {% for error in form.file.errors %}
                        <span class="text-danger">{{error}}</span> <br>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group" style="margin-top: 10px">
                {{ form.post(class="btn btn-outline-info") }}
            </div> 
        </form>
    </div>
{% endblock %}

{% block rightcontent %}

    <div class="content-section">
            <h3>Quick Links</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('announcement')}}">Announcements</a>
                {% if session['designation'] != 'Admin' %}
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('allotmentcriteria')}}">Allotment Criteria</a>
                {% endif %}
                {% if session['designation'] != 'Admin' %}
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('showrooms')}}">Reset Criteria</a>
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('deallocaterooms')}}">Deallocate Room</a>
                {% endif %}
                {% if session['designation'] != 'Admin' %}
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('uploadfile')}}">Upload List</a>
                {% endif %}
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('showqueries')}}">Student Queries</a>
                {% if session['designation'] == 'Admin' %}
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('downloadlist',hostel='Himalaya')}}">Download Himalaya's List</a>
                <a class="nav-item nav-link list-group-item list-group-item-light" href="{{url_for('downloadlist',hostel='Shivalik')}}">Download Shivalik's List</a>
                {% endif %}
              </ul>
            </p>
          </div>
{% endblock %}